@font-face {
    font-family: 'jpo';
    src: url('/fonts/json-parser-online.eot');
    src: url('/fonts/json-parser-online.eot?#iefix') format('embedded-opentype'),url('/fonts/json-parser-online.woff') format('woff'),url('/fonts/json-parser-online.ttf') format('truetype'),url('/fonts/json-parser-online.svg#jpo') format('svg');
    font-weight: normal;
    font-style: normal
}






textarea {
    margin: 0;
    padding: 5px;
}



label {
    display: block;
    padding-bottom: 10px
}

noscript {
    display: block;
    padding: 50px 20px 0
}

.V {
    padding: 0 1em
}

#paypal {
    margin: 0;
    padding: 0
}

#nC {
    color: dodgerblue;
    display: none;
    font-weight: 100;
    text-decoration: none
}

.x {
    border: solid 1px #999;
    border-radius: 2px
}

.x:focus {
    box-shadow: inset 5px 5px 10px -10px #999
}

.v {
    background: #FFC;
    border: solid 1px #BBB;
    box-shadow: 0 0 0 10px rgba(100,100,100,0.1);
    -webkit-box-shadow: 0 0 0 10px rgba(100,100,100,0.1);
    padding: 20px;
    position: absolute;
    z-index: 100
}

.u {
    color: #555;
    cursor: pointer;
    font: bold 16px/15px tahoma,sans-serif;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0
}

.u:hover {
    color: #C00
}

.t {
    display: none;
    text-decoration: underline
}

.N {
    position: absolute;
    width: 100%
}

.N.H {
    margin: 0 20px
}

.J {
    background-color: #FFF
}

.H .J {
    margin-top: 20px
}

.I .J {
    margin-left: 20px
}

.K {
    background-color: #FFF;
    border: solid 1px #999;
    border-radius: 2px;
    bottom: 0;
    overflow: hidden;
    /*position: absolute;*/
    z-index: 1
}

.H .K {
    margin-bottom: 20px;
    width: 100%
}

.I .K {
    margin-right: 20px;
    right: 0;
    top: 0
}

.M {
    background-position: 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2
}

.H .M {
    background-image: url(splitter-ns.png);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAACCAYAAABc8yy2AAAAFklEQVQI12M4c+bMfxBmQAJUEaOVwQCIbUO9/544twAAAABJRU5ErkJggg==);
    background-color-0: #555;
    cursor: ns-resize;
    height: 20px;
    width: 100%
}

.H .M.G,.H .M.ui-draggable-dragging {
    background-image: url(splitter-ns-active.png);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAACCAYAAABc8yy2AAAAFklEQVQI12OQm/D/PwgzIAGqiNHKYAB2/DVxti9ljAAAAABJRU5ErkJggg==)
}

.I .M {
    background-image: url(splitter-ew.png);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAYAAADq8U2pAAAAFklEQVQI12M4c+bMfxBmgDPwgMGqGAAuBkO97tXVLwAAAABJRU5ErkJggg==);
    bottom: 0;
    cursor: e-resize;
    cursor: ew-resize;
    cursor: col-resize;
    top: 0;
    width: 20px
}

.I .M.G,.I .M.ui-draggable-dragging {
    background-image: url(splitter-ew-active.png);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWCAYAAADq8U2pAAAAFklEQVQI12OQm/D/PwgzwBl4wGBVDACNjjVxrtmP1AAAAABJRU5ErkJggg==)
}

.I .L {
    width: 100%
}

.I .E {
    width: 100%
}

.z {
    overflow-x: hidden;
}

.C {
    display: inline-block;
    vertical-align: top
}

.y {
    font-size: 78%;
    padding: 10px 0 10px 20px
}

.a {
    padding: 10px 10px 10px 20px;
    position: relative
}

.w {
    padding-left: 20px
}

.r {
    bottom: 0;
    color: #888;
    font-size: 68.8%;
    min-height: 14px;
    padding: 10px 0;
    position: absolute;
    text-align: right;
    width: 100%
}

.q {
    padding: 0 20px
}

.o {
    color: #888;
    text-decoration: none
}

.o:hover {
    color: #000
}

.o+.o:before {
    content: '•';
    padding: 0 .5em
}

.o0 {
    float: left
}

.c {
    margin-right: 0;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 2000
}

.b {
    color: #888;
    display: inline-block;
    font-size: 78%;
    margin-left: 5px;
    padding: 12px 4px;
    text-decoration: none
}

.b:hover {
    color: #000
}

.b.k {
    color: dodgerblue
}

.n {
    cursor: pointer;
    position: relative;
    z-index: 5
}

.m {
    font-size: 77%;
    padding-left: 2px
}

.j {
    background: #FFF;
    border: solid 1px #CCC;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    color: #555;
    display: none;
    margin-top: 4px;
    padding: 2px;
    position: absolute;
    text-shadow: none;
    z-index: 1000
}

.i {
    left: -4px
}

.h {
    right: -4px
}

.n.k .j {
    display: block
}

.e {
    padding: 3px 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap
}

.g .e {
    padding: 3px 5px 3px 0
}

.g .e::before {
    color: rgba(0,0,0,0);
    content: '✔';
    display: inline-block;
    margin-right: 1px;
    text-align: center;
    width: 16px
}

.g .e.on::before {
    color: #555
}

.g .d::before {
    color: #888;
    content: '○'
}

.g .d.on::before {
    color: #555;
    content: '●'
}

.e:hover,.g .e.on:hover::before,.g .d:hover::before,.g .d.on:hover::before {
    background: dodgerblue;
    color: #FFF;
    #222}

.e.inactive {
    opacity: .4
}

.e.inactive:hover,.e.inactive:hover::before {
    background-color: transparent !important;
    color: inherit !important
}

.f {
    border-top: solid 1px rgba(0,0,0,.1);
    margin: 2px 0;
    height: 0
}

.Q {
    background-color: #555;
    color: #FFF;
    border-bottom: solid 1px #F3F3F3
}

.json-empty .Q {
    background-color: #888;
    color: #FFF
}

.json-error .Q {
    background-color: #C14830;
    color: #FFF
}

#eT {
    resize: none
}

#dS .P {
    padding-top: 10px
}

.R .A,.S .B {
    /*display: none*/
}

.P {
    font-family: 'DejaVu Sans Mono','Courier New',monospace;
    font-size: 68.8%;
    font-size: 11px;
    line-height: 17px;
    word-wrap: break-word
}

.error {
    background: #2e3436;
    border-radius: 3px;
    color: #eeeeec;
    padding: 0 4px;
    text-shadow: none
}

#iX .error {
    cursor: help
}

#iX .error:hover {
    background: #444;
    color: #FFF
}

.aP ol {
    counter-reset: idx -1
}

.aP ol>li::before {
    background: #babdb6;
    border-radius: 20px;
    color: #FFF;
    counter-increment: idx;
    content: counter(idx);
    font-size: 85%;
    font-weight: bold;
    line-height: 8px;
    margin: 0 2px;
    opacity: .4;
    padding: 0 2px
}

.aP.color ol>li::before {
    background-color: #a40000
}

.compact ol,.compact ul,.compact li {
    display: inline;
    margin: 0;
    padding: 0
}

.toggle {
    cursor: pointer
}

.toggle::before {
    border-radius: 2px;
    border-color: #AAA;
    border-style: solid;
    border-width: .1em;
    color: #AAA;
    content: '-';
    display: inline-block;
    line-height: 7px;
    margin: 0 2px;
    overflow: hidden;
    padding: 0
}

.toggle {
    border: solid 1px transparent;
    border: 0 0 0 0
}

.collapsed .toggle::before {
    content: '+'
}

.toggle:hover,.toggle:hover ~ .toggle-end {
    font-weight: bold
}

.toggle:hover::before {
    font-weight: normal
}

.toggle:hover+ol,.toggle:hover+ul {
    opacity: .3
}

.collapsed>ul,.collapsed>ol {
    display: none !important
}

.P .object::before,.P .array::before,.P .string::before,.P .number::before,.P .boolean::before {
    background-color: #babdb6;
    border-radius: 2px;
    color: #FFF;
    font-weight: bold;
    margin: 0 2px;
    opacity: .4;
    padding: 1px 5px;
    word-wrap: normal
}

.color .object>.toggle,.color .object>.toggle-end {
    color: #729fcf
}

.bQ .object::before {
    content: 'object'
}

.bQ.color .object::before {
    background-color: #729fcf
}

.color .object>.toggle::before {
    border-color: #729fcf;
    color: #729fcf
}

.collapsed.object .toggle-end::before {
    content: '…';
    display: inline
}

.color .property {
    color: #204a87
}

.color .array>.toggle,.color .array>.toggle-end {
    color: #a40000
}

.bQ .array::before {
    content: 'array'
}

.bQ.color .array::before {
    background-color: #a40000
}

.color .array>.toggle::before {
    border-color: #a40000;
    color: #a40000
}

.collapsed.array .toggle-end::before {
    content: attr(card);
    display: inline
}

.color .number {
    color: #ad7fa8
}

.bQ .number::before {
    content: 'number'
}

.bQ.color .number::before {
    background-color: #ad7fa8
}

.color .string {
    color: #4e9a06
}

.bQ .string::before {
    content: 'string'
}

.bQ.color .string::before {
    background-color: #4e9a06
}

.color .boolean {
    color: #c4a000
}

.bQ .boolean::before {
    content: 'boolean'
}

.bQ.color .boolean::before {
    background-color: #c4a000
}

.null {
    font-style: italic
}

.color .null {
    color: #babdb6
}

#fU ul, #fU ol {
list-style-type: none;
margin: 0;
padding: 0 0 0 20px;
}
#fU menu,#fU dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
